body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    height: 100vh;
}
.header {
    grid-area: header;
    background: #2a5298;
    color: white;
    text-align: center;
    padding: 15px;
}
.sidebar {
    grid-area: sidebar;
    background: #f2f2f2;
    padding: 20px;
}
.sidebar label {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    background: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}
.sidebar label:hover {
    background: #e0e0e0; 
}
#dashboard:checked ~ .sidebar label[for="dashboard"],
#profile:checked ~ .sidebar label[for="profile"],
#settings:checked ~ .sidebar label[for="settings"],
#logout:checked ~ .sidebar label[for="logout"] {
    background: #2a5298;
    color: white;  
}
.main {
    grid-area: main;
    padding: 20px;
}
.card {
    background: #f8f9fc;
    padding: 15px;
    margin-top: 15px;
    border-left: 5px solid #2a5298;
    border-radius: 5px;
    transition: transform 0.4s ease;
    box-shadow: 0.4s ease;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
}
.footer {
    grid-area: footer;
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
input[type="radio"] {
    display: none;
}
.page {
    display: none;
}
#dashboard:checked ~ .main .dashboard-page {
    display: block;
}
#profile:checked ~ .main .profile-page {
    display: block;
}
#settings:checked ~ .main .settings-page {
    display: block;
}
#logout:checked ~ .main .logout-page {
    display: block;
}

.logout-btn {
    padding: 8px 15px;
    background: #c52929;
    color: white;
    cursor: pointer;

    border: none;
    border-radius: 5px;
}
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "sidebar"
            "main"
            "footer";
    }

    input[type="text"] {
        width: 100%;
    }
}